/*Googale font import - popins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,300&display=swap');

*{
    font-family:'Poppins', sans-serif;
    margin:0;
    padding:0;
}

body{
    height: 100vh;
}

.topnav{
    position:fixed;
    height: 100px;
    width:100%;
    background: #17202f;
    z-index:100;
}

.topnav .topnav-bar{
    position:relative;
    height: 200px;
    max-width:100%;
    margin:0 auto;
    padding: 0 100px;
    background-color:#17202f;
    color:#f6f5ee;
    align-items: center;
    display:flex;
    justify-content: space-between;
    
}

.topnav-bar .logo{
    position:relative;
    height: 200px;
    width:200px;
    align-items: center;
   
}

.topnav-bar .logo .img-logo{
    max-width: 100%;
    max-height: 100%;
}

.topnav-bar .name{
    font-size: 50px;
    font-weight: 400;
    color:#f2c562;

}

.topnav-bar .sign-search{
    padding: 10px;
    height: 150PX; 
    width: 400px;  
}

.sign-search .sign{
    margin-bottom: 80PX;
}

.sign-search .sign .sign-links{
    display: flex;
    align-items:center;
    justify-content:right;
}

.sign .sign-links li{
    list-style: none;
    margin: 0 25px 0 25px;
}

.sign .sign-links li a{
    text-decoration: none;
    font-weight: 400;
    color:#E4E9F7;
    cursor: pointer;
}

.sign .sign-links li a:hover{
    text-decoration: none;
    font-weight: 400;
    color:#F4DB7E;
}



.sign-search .searchBox{
    position:relative;
    background-color: aqua;
    margin-top: 10px;
}

.searchBox .search-field{
    position:absolute;
    display:flex;
    align-items: center;
    border-radius:6px;
    border:#E4E9F7 solid;
    height: 40px;
    width: 100%;
}

.searchBox .search-field input{
    height: 100%;
    width:100%;
    padding: 0 45px 0 15px;
    outline:none;
    border:none;
    font-weight: 400;
    font-size:14px;
    background-color:#E4E9F7;
    z-index:1;
}







