/*Googale font import - popins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,300&display=swap');

*{
    font-family:'Poppins', sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
}



body{
    height: 100vh;
    
    
}

.topnav{
    position: relative;
    height: 200px;
    width:100%;
    background: #17202f;
}

.topnav .topnav-bar{
    position:relative;
    height: 200px;
    max-width:100%;
    background-color:#17202f;
    color:#f6f5ee;
    align-items: center;
    display:flex;
    justify-content: space-around;
    
}

.topnav-bar .logo{
    position:relative;
    height: 200px;
    width:200px;
    align-items: center;
   
}

.topnav-bar .logo .img-logo{
    max-width: 100%;
    max-height: 100%;
}

.topnav-bar .name{
    font-size: 50px;
    font-weight: 400;
    color:#f2c562;

}
.topnav-bar .sign-search{
    padding: 10px;
    height: 100PX; 
    width: 400px;  
}

.sign-search .sign{
    margin-bottom: 50PX;
}

.sign-search .sign .sign-links{
    display: flex;
    align-items:center;
    justify-content:right;
   
}

.sign .sign-links li{
    list-style: none;
    margin: 0 25px 0 25px;
}

.sign .sign-links li a{
    text-decoration: none;
    font-weight: 400;
    color:#E4E9F7;
    cursor: pointer;
}

.sign .sign-links li a:hover{
    text-decoration: none;
    font-weight: 400;
    color:#F4DB7E;
   
}



.sign-search .searchBox{
    position:relative;
    padding: 10px;
    display: flex;
    align-items:center;
    justify-content:right;
}


.searchBox .search-field input{
    padding: 10px;
    border: none;
    border-radius: 4px;
    outline:none;
    height: 30px;
    width: 200px;
    font-weight: 400;
    font-size:14px;
    background-color:#E4E9F7;
}


/*slideshow*/

.slideshow{
    height: 600px;
    width: 100%;
    background-image: url('../img/images\ 15.avif');
    background-size: cover;
    position: relative; 
}

.slideshow .imgslide{
    height: 600px;
    width:100%;   
}

.slider {
    width: 100%;
    height: 600px; /* Adjust the height as needed */
    overflow: hidden;
  }
  
  .slide {
    display: none;
    width: 100%;
    height: 100%;
  }
  

/*navigation*/

.navigation{
    position:absolute;
    top:0;
    height: 80px;
    width: 100%;
}

.navigation .navbar-links{
    list-style-type: none;
    position: absolute;
    left: 100px;
}

.navigation .navbar-links li{
    float: left;
    padding: 20px;
    margin: 10px;
    /* background-color: #E4E9F7; */
}

.navigation .navbar-links li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color:#E4E9F7;
    cursor: pointer; 
}

.navigation .navbar-links li a:hover{
    text-decoration: none;
    color:#F4DB7E;
}

.navigation .navbar-links li a.active{
    color:#F4DB7E;
}

.noname{
    height: 600px;
    width:100%;
    background-color:#252f42;
    position: relative;
    color: #e0ac1c;
    
}

.col-div-3{
	width: 30%;
	float: left;
}
.box{
	width: 85%;
	height: 100px;
	background-color: #17202f;
	margin: 25px;
	padding:10px;
    margin-left: 100px;
}
.box p{
	 font-size: 35px;
    color: white;
    font-weight: bold;
    line-height: 30px;
    padding-left: 10px;
    margin-top: 20px;

    display: inline-block;
}
.box p span{
	font-size: 20px;
	font-weight: 400;
	color: #818181;
}
.box-icon{
	font-size: 40px!important;
    float: right;
    margin-top: 35px!important;
    color: #818181;
    padding-right: 10px;
}

.content-box{
	padding: 20px;
}
.content-box p{
	margin: 0px;
    font-size: 20px;
    color: #f2c562;
}
.content-box p span{
	float: right;
    background-color: #303a72;
    padding: 3px 10px;
    font-size: 15px;
}

.noname .memo p{
    margin: 0px;
    font-size: 40;
    color: #f2c562;
    font-weight: 500;
    text-align: center;
}

.noname .memo img{
    margin: 20px;
    padding: 70px;
     position:relative;
    
}


/* Footer */

.copyright {
    background-color: #17202f;
    padding: 20px;
    font-size: 15px;
    color: #ffffff;
    text-align: center;
   
}

.copyright a {
    color: #ffffff;
  
  
}



footer {
    position: fixed;
    bottom: 0;
}

@media (max-height:800px) {
    footer {
        position: static;
    }
    header {
        padding-top: 40px;
    }
}

.footer-distributed {
    background-color: #17202f;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 10px 50px;
    margin-top: 80px;
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
    width: 30%;
}

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Poppins', cursive;
    margin: 0;
}


.footer-distributed h3 span {
    color: #e0ac1c;
}

/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #17202f;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #e0ac1c;
    text-decoration: none;
    ;
}

/* Footer Right */

.footer-distributed .footer-right {
    width: 30%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #425c8a;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
    background-color: #3F71EA;
}

.footer-links a:hover {
    color: #3F71EA;
}

@media (max-width: 880px) {
    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}       
        







